@{
    ViewBag.Title = "Louis's slightly drag website.";
}

<div class="jumbotron" id="home" align="center">
    <h1>Hi.</h1>
    <p class="lead">I'm Louis Yu and I write code.</p>
    <p>(Sometimes I write music too.)</p>
</div>

<div class="row" id="introduction">
    <div class="col-md-3">
        <h2>About me</h2>
    </div>
    <div class="col-md-9">
        <p>
            I am a twenty-seven year old professional application developer of four years, the past three spent working in the aeronautical industry creating software for UAVs(Unmanned Aerial Vehicles).  This opportunity has given me great experience working
            with very talented people and I have traveled to many places in the US for software support.
        </p>
        <p>
            As a hobby I try to write games and learn how to create assets for them.  I love music of all kinds and produce my own songs from time to time, as well as
            explore the art of electronic synthesis.  I hope to eventually create all of the artistic assets for one of my games. I also wrote this site from scratch (it's responsive!) and maintain it.
        </p>
    </div>
</div>

<hr />

<div class="row" id="projects">
    <div class="col-md-3">
        <h2>Code Projects</h2>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Time To Live</h4>
            </div>
            <div class="panel-body">
                <p>
                    A top down chaos shooter set on an Earth that has been ransacked by aliens wielding weapons of undead bio-terror.  A rare zombie remembers humankind and goes on a cleansing spree
                    before Death can catch them.
                </p>
                <br />
                <img src="~/Images/TimeToLiveSample_small.png" class="img-responsive" />
                <br />More images coming soon.
                <br /><i>Released as a Windows Phone exclusive.</i>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>A Diction Simulator</h4>
            </div>
            <div class="panel-body">
                <p>
                    You are a struggling novelist plagued by writer's block.  You can alleviate your symptoms for some time by using diction substances, but will the rewards outweigh the outcomes?
                </p>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row" id="music">
    <div class="col-md-3">
        <h2>Music</h2>
    </div>
    <div class="col-md-9">
        <p>
            In a previous life I spent time experimenting with electronic synthesis and production.  Some of my music is featured in various online rhythm games, such as Flash Flash Revolution and Thirdstyle.
        </p>
        <div class="embed-responsive embed-responsive-16by9 well">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/iL4EON0f-mg"></iframe>
        </div>
        <div class="embed-responsive embed-responsive-16by9 well">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/p9cMOl3Btqc"></iframe>
        </div>
        <div class="embed-responsive embed-responsive-16by9 well">
            <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/72128&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
        </div>

        <p>
            Every now and then I crank out a jingle, but I mainly aim to fill my games with my own music and sound effects.
        </p>
    </div>
</div>

<hr />

<div class="row" id="contact">
    <div class="col-md-3">
        <h2>Contact</h2>
    </div>
    <div class="col-md-9">
        <p>
            Please email me for professional contact, or to tell me that my website is super bland.<br />
            <span style="unicode-bidi:bidi-override; direction: rtl;">
                <strong>moc.liamg@uyMsiuol</strong>
            </span>
        </p>
    </div>
</div>